
.Secondry_bar {
    display: flex;
    justify-content: center;
    padding: 2rem 3rem;
    background-color: rgb(12, 15, 18);
  }
  
  .secondry_bar_container {
    display: flex;
    justify-content: space-around;
    width: 80%;
  }
  
  .item {
    text-decoration: none;
    color: white;
  }
  
  